@use "../colors" as *;
@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.certificatesCard {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s all linear;
  overflow: hidden;
  position: relative;
  &:hover {
    box-shadow: 0 0 6px rgba(167, 167, 167, 0.6);
  }

  .imagewrapper {
    width: 100%;
    height: 100%;
    background-color: $primary;

    img {
      height: 200px;
      width: 300px;
      object-fit: cover;
      display: block;
    }
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
      text-align: center;
      z-index: 1;

      h2 {
        font-weight: 800;
        font-size: 1rem;
        color: $text;
        margin: 0;
        white-space: nowrap;
        display: inline-block;
        animation: scrollText 8s linear infinite;
      }
    }
  }
}
