@use "../colors" as *;
@use "../values" as *;

.certificates {
  min-height: 100vh;
  padding: calc(#{$navbarheight} + 0rem) 0 2rem 0;
  background-color: $background;
  overflow-x: hidden;

  .wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem 0;
    position: relative;

    .headers {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      color: $text;
      width: fit-content;
      padding: 8px 10px;
      letter-spacing: 0.5px;
    }

    .certificates_content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 2rem;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
@media (max-width: 768px) {
  .certificates {
    .wrapper {
      .certificates_content {
        justify-content: center;
      }
      .header {
        font-size: 1.3rem;
        text-align: center;
        padding-left: 1rem;
      }
    }
  }
}

// Mobile (1 column)
@media (max-width: 500px) {
  .certificates {
    .wrapper {
      .certificates_content {
        justify-content: center;
      }
      .header {
        font-size: 1.1rem;
        text-align: center;
        padding-left: 1rem;
      }
    }
  }
}
