@use "../colors" as *;
@use "../values" as *;

// @mixin keyframes($animation-name) {
//     @-webkit-keyframes #{$animation-name} {
//         @content;
//     }

//     @-moz-keyframes #{$animation-name} {
//         @content;
//     }

//     @-ms-keyframes #{$animation-name} {
//         @content;
//     }

//     @-o-keyframes #{$animation-name} {
//         @content;
//     }

//     @keyframes #{$animation-name} {
//         @content;
//     }
// }

// @mixin animation($str) {
//     -webkit-animation: #{$str};
//     -moz-animation: #{$str};
//     -ms-animation: #{$str};
//     -o-animation: #{$str};
//     animation: #{$str};
// }

// @include keyframes(slide-left) {
//     0% {
//         left: -100%;
//     }

//     100% {
//         left: 0;
//     }
// }

.experience {
  padding: calc(#{$navbarheight} + 0rem) 2rem 2rem 2rem;
  background-color: $background;
  min-height: calc(100vh - #{$navbarheight});
  margin-top: $navbarheight;
  //   position: absolute;
  //   left: 0;
  //   width: 100%;
  // margin-left: $navbarwidth;
  //   padding: 1rem 0;
  // @include animation('slide-left 0.8s 1');

  .wrapper {
    max-width: 1080px;
    margin: 0 auto 20px auto;
    padding: 0 20px;
    position: relative;

    .header {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: $text;
      width: fit-content;
      //   padding: 8px 10px;
    }
  }
}

@media (max-width: 768px) {
  .experience {
    padding: calc(#{$navbarheight} + 0rem) 1.2rem 2rem 1.2rem;
  }

  .wrapper {
    padding: 0 10px;

    .header {
      font-size: 1.3rem;
      // text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .experience {
    padding: calc(#{$navbarheight} + 0rem) 1rem 1.5rem 1rem;
  }

  .wrapper {
    padding: 0 8px;

    .header {
      font-size: 1.1rem;
      // text-align: center;
    }
  }
}
